.navbar-fixed
  %nav
    .nav-wrapper
      .container
        = link_to root_path, class: 'brand-logo' do
          %i.fa.fa-cutlery.hide-on-med-and-down
          = t('dea')
        %a.button-collapse{href: '#', :'data-activates' => 'm-mobile-nav'}
          %i.fa.fa-cutlery.fa-2x
        %ul.right.hide-on-med-and-down
          %li
            = link_to t('miscellaneous.places'), restaurants_url
          %li
            = link_to t('miscellaneous.friends'), '#'
          %li
            = link_to t('miscellaneous.account'), '#'

%ul.side-nav{id: 'm-mobile-nav'}
  %li
    = link_to t('miscellaneous.places'), restaurants_url
  %li
    = link_to t('miscellaneous.friends'), '#'
  %li
    = link_to t('miscellaneous.account'), '#'
