%table.striped.centered.responsive-table
  %tbody
    %tr
      %td
        = t('miscellaneous.name')
      %td
        = @restaurant.name
    %tr
      %td
        = t('miscellaneous.city')
      %td
        = @restaurant.city
    %tr
      %td
        = t('miscellaneous.street')
      %td
        = @restaurant.street
    %tr
      %td
        = t('miscellaneous.meal_type')
      %td
        = @restaurant.meal_type
    %tr
      %td
        = t('miscellaneous.category')
      %td
        = @restaurant.category
    - %w(mo tu we th fr sa su).each.with_index do |day, indx|
      %tr
        %td
          = t("miscellaneous.#{day}")
        %td
          = todays_opening_closing @restaurant, indx
    %tr
      %td
        = t('miscellaneous.prices')
      %td
        = range_of_prices @restaurant
