.col.s12.m7
  %h2.header
    = @restaurant.name
  .card.horizontal
    .card-image
      %img{:src => @restaurant.image.url}/
    .card-stacked
      .card-content
        %p
          = @restaurant.meal_type
        %p
          = todays_opening_closing @restaurant
      .card-action
        = link_to t('miscellaneous.pyszne_pl'), pyszne_link(@restaurant.pyszne_address)
        = link_to t('miscellaneous.website'), @restaurant.website if @restaurant.website

= link_to 'Edit', edit_restaurant_path(@restaurant)
\|
= link_to 'Back', restaurants_path
