= form_for @matchig do |f|
  - if @matchig.errors.any?
    #error_explanation
      %h2= "#{pluralize(@matchig.errors.count, "error")} prohibited this matchig from being saved:"
      %ul
        - @matchig.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
